* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

html {
    /* background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24); */
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(180deg, rgb(182, 159, 97), rgb(128, 89, 24));

}

.header {
    /* /* background-color: rgb(180, 181, 176);  */
    /* padding: 10px 40px; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(179, 158, 101);


}

.nav {
    display: flex;

    justify-content: center;
    /* justify-content: space-between; */
    /* background-color: rgb(180, 181, 176); */
    align-items: center;
    padding: 10px 0px;
    ;


}

.nav ul {
    /* margin: 0px;
    padding: 0px; */
    list-style-type: none;
    display: flex;
    gap: 30 px;
    color: white;


}

.nav li {
    margin: 0 30px;
}

.nav li a {
    font-size: 25px;
    text-decoration: none;
    color: white;

}

.nav li a:hover {
    color: black;
    transform: scale(1.1);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search input {
    height: 20px;
    width: 200px;
    padding-left: 5px;
}

.search button {
    height: 20px;
}

.container {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;

}

.underline {
    width: 30%;

}

.title,
.underline {

    text-align: center;
    margin: 0 auto;
    display: block;


}

.mainimg {
    height: 250px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}



.recipesheading {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

.links img {
    display: block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
}

.links {
    width: 90vw;
    margin: 0 4vw;
    display: flex;
    flex-wrap: wrap;
    /* flex: wrap; */
    /* justify-content: space-between; */
    justify-content: center;
    gap: 20px 80px;
    text-align: center;

}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    color: white;
    transform: scale(1.1);
}

.footer {
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(112, 78, 24);
    padding: 60px;
    color: #fff;
    flex-direction: column;
    align-items: center;
    text-align: center;


}

.footer .project {
    text-align: center;
    padding-top: 10px;
}

.imed,
.bvdu {
    height: 50px;
    width: auto;
    /* opacity: 50%; */

}


/* shitpost */
#shitpost {
    display: none;
    position: absolute;
    width: 4em;
    height: 1em;
    pointer-events: auto;
}

#shitpost.top-left {
    top: 10px;
    left: 10px;
}

.gimmeFood {
    position: relative;
    color: white;
    background: black;
    top: 3.6em;
    width: 15em;
    opacity: 0;
    text-align: center;
    pointer-events: none;

}

#yuyuko {
    position: absolute;
    width: 5em;
    overflow: hidden;
    top: 0;
}

#shitpost:hover>.gimmeFood {
    transition: 130s linear;
    top: 14.5em;
    font-size: 10em;
    animation: appear 4s 1s forwards;
}

#yuyuko:hover {
    transition: 130s linear;
    width: 190em;
}

#yuyukoTitle {
    position: absolute;
    width: 100%;
    font-family: "Norse";
    letter-spacing: 0.04em;
    font-size: 5vw;
    color: rgb(236, 218, 139);
    margin: 0.3em 0 0 6em;
    width: 6em;
    text-align: center;
    left: 1em;
    top: 0.05em;
    opacity: 0;
    pointer-events: none;
}

#shitpost:hover>#yuyukoTitle {
    opacity: 1;
    transition: 2s;
    background: rgb(182, 159, 97);
}